<%= form_with model: board, local: true do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 10, value: "Q." %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', rows: 2, value: "A." %>
  </div>

  <%= f.submit "回答", class: 'btn btn-primary' %>
<% end %>