.title-size {
    font-size: 3vw;
    font-weight: bold;
}

.input-group {
    width: 50%;
    margin: 0 auto;
}

.top-change {
    padding-top: 2em;
    padding-bottom: 6em;
}

.bg-koruku {
    background-color: rgb(234, 238, 176);
}

.form-control {
    border-color: red;
}
