@import 'top';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';


h1 {
    text-align: center;
}

.box {
    height:100vh;
    width: 100%;
    min-height:100%;
    background-image: image-url("wall.png");
    background-size: cover;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height:100%;
}

.col-md-10 {
    margin-top: 100px;
}

.text-right {
    margin-top: 50px;
}

.btn-primary {
    background-color:#44883f
}

.alert {
    margin-bottom: 0rem;
}

header {
    background-color: rgba(255, 255, 255, 0.342);
}

.dropdown-item {
    color: white;
}

.btn-search {
    height: 38px;
    background-color: rgb(45, 142, 223);
    border-color: red;
}

.form-control {
    border-color: red;
}

.bg-koruku {
    width: 100%;
    background-image: url(koruku.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.top-change {
    padding-top: 6em;
    padding-bottom: 6em;
}

.input-group {
    width: 50%;
    margin: 0 auto;
}

.title-size {
    font-size: 3vw;
    font-weight: bold;
}

.answer {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgb(29, 9, 75);
}

.card {
    background-color: rgb(241, 233, 233);
    border-color: blue;
}

.card-position {
    padding-bottom: 0;
    margin-bottom: 0;
}
