.top-wrapper {
  background-image: image-url("top_page.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.342);
}

